.zig-cache/
zig-out/
zig-pkg/
dist/
.idea/
.DS_Store
.ipynb_checkpoints
.notebook-ts
notebook-ts
.fastembed_cache/
notebook-tests/
packages/transformers/examples/artifacts/
apps/decoder-lm/artifacts/**
!apps/decoder-lm/artifacts/**/
!apps/decoder-lm/artifacts/**/.gitkeep
